<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
        <a class="navbar-brand" href="">FIZZBUZZ</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
               <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/">LOGOUT</a></li>

      </ul>
    </div>
  </div>
</nav>

<br /><br /><br />

 <div id="container">
        <form id="fizzbuzz1" ngNativeValidate >
            <h2>Fizzbuzz</h2>
            <input type="text" name="start" id="start" placeholder="Starting Number"  pattern="[0-9].{0,3}" title="Minimam 0 to 4 digit numbers" required />
            <input type="text" name="finish" id="finish" placeholder="Finishing Number" pattern="[0-9].{0,3}" title="Minimam 0 to 4 digit numbers" required />
            <br>
            <input type="submit" value="GO!" id="submit">
        </form>
        
        <div id="output">
        </div>
        <div id="error">
        </div>
    </div>
    